* {
  font-family: 'Lato', sans-serif;
  background-color: rgb(255, 250, 245);
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  letter-spacing: 5px;
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
  font-size: 40px;
}

h2 {
  text-align: center;
  padding: 80px 20px 10px 20px;
}

h3 {
  text-align: justify;
  letter-spacing: 0.5px;
  font-weight: 900;
  margin-top: 60px;
}

p {
  text-align: justify;
  letter-spacing: 0.5px;
  font-size: large;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #d3d3d3;
}

img {
  width: 100%;
  height: auto;
}

/*body {
  margin: 0;
  padding: 0;
}
*/

header {
  color: black;
  margin: 20px 0px 20px 0px;
  top: 0px;
}

#title {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  display: inline;
  margin-left: 20px;
  padding-left: 20px;
  text-align: left !important;
}

nav {
  position: sticky;
  top: 0;
}

nav ul {
  display: inline;
  float: right;
}

nav ul li {
  display: inline-block;
  letter-spacing: 5px;
  list-style-type: none;
  margin: 50px 25px 10px 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: #6b8386;
}

.header-picture {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.intro {
  text-align: center;
  padding: 0px 300px 80px 300px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*
.home-container {
  position: relative;
  margin: auto;
  width: 100px;
}
*/

.home-container img {
  width: 400px;
  height: 600px;
  transition: 1s;
}

.home-container img:hover {
  width: 500px;
  height: 700px;
}

.blog-box {
  padding: 40px 500px;
}

.blog-box img {
  width: 60%;
  height: auto;
  
}

.subtitle {
  text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 400px;
  margin: 40px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* tech and core pages */

#tech-heading, #core-heading{
  padding-top: 40px;
  letter-spacing: 8px;
  margin: 40px 0px 10px 0px;
  font-size: 50px;
}

.subheading {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #3f3c3c;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  margin: 80px 180px;
}

.blog-post img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.blog-heading {
  font-size: 26px;
}

.blog-heading:hover {
  color: #6b8386;
}

.blog-subheading {
  font-size: 15px;
}

.read-more {
  font-size: 15px;
  border-bottom: 1px solid #6b8386;
  padding-bottom: 5px;
}

.image-source {
  text-align: center;
}

.image-source :hover {
  color: #6b8386;
}

.blog-ul li{
  list-style-type: disc;
  text-align: justify;
  letter-spacing: 0.5px;
  font-size: 18px;
  padding-bottom: 10px;
}

.back-arrow {
  font-size: 22px;
  padding: 5px 15px;
}

.back-arrow :hover {
  color: #6b8386;
}

.separation {
  text-align: center;
  letter-spacing: 35px;
  font-weight: 900;
}

.story {
  padding: 15px 90px 5px 80px;
  font-style: italic;
  font-size:large;
  text-align: justify;
  line-height: 1.5;
}

.references {
  font-size: 14px;
  line-height: 1;
}

.references :hover {
  color: #6b8386;
}

/* footer */

footer {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

/*
@media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
*/